* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* get started  */

.get-started {
    background-color: #082c4e;
    height: 400px;
}

.container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-one {
    width: 50%;
    height: 100%;
}

.box-one h1 {
    font-size: 55px;
    color: #fff;
    margin-top: 50px;
}

.box-one p {
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
}

.box-one button {
    width: 150px;
    height: 45px;
    border: 2px solid #fff ;
    border-radius: 30px;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-top: 50px;
    transition: all 0.3s;
}

.box-two {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-two img {
    width: 300px;
}

/* effects */

.box-one button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* our feature  */

.feature {
    height:580px ;
}

.feature > p {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 70px 0;
    color: #4a627c;
}

.l-container {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.t-container {
    width: 80%;
    margin: auto;
}

.card {
    width: 23%;
    height: 350px;
    transition: all 0.3s;
}

.card:nth-child(1) {
    background-color: #ff6571;
}

.card:nth-child(2) {
    background-color: #ffcc00;
}

.card:nth-child(3) {
    background-color: #21a5e5;
}

.card:nth-child(4) {
    background-color: #f3eae3;
}

.card img {
    width: 100px;
    margin-top: 20px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    color: #344456;
}

.d-text {
    font-size: 16px;
    margin: 20px 0;
    line-height: 20px;
    color: #0b5f8b;
}

.card a {
    font-size: 16px;
    font-weight: bold;
    color: #0a5076;
    text-decoration: none;
}

/* effects  */

.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.card a:hover {
    color: #0b5f8b;
}